body {
	margin:0 auto;
	background-color:#f5f5f5;
}
@media screen and (min-width:768px) {
	#main{
		max-width:600px;
		margin: 0 auto;
	}
	div.select {
	margin-top:20px;
	text-align:center;
	}
	div.select select {
		width:300px;
		padding:10px;
		text-align:center;
		font-size:1.1rem;
		color:#404449;
		font-weight:600;
	}
	div.btn-delivery {
		margin: 0 auto;
		text-align:center;
		width:300px;
	}
	div.btn-delivery  a{
		display:block;
		text-align:center;
		background-color:#0b9e5f;
		margin-top:20px;
		text-decoration:none;
		color:#fff;
		padding:15px 0;
		letter-spacing:1px;
		font-weight:600;
	}

	#main p {
		text-align:center;
		margin:30px 0 10px 0;
		color:#545b64;
		font-weight:600;
		font-size:1.1rem;
		position:relative;
	}
	#main p:before{
		content:'';
		display:inline-block;
		position:absolute;
		width:230px;
		height:1px;
		left:0px;
		top:12px;
		background-color:#878787;
	}
	#main p:after{
		content:'';
		display:inline-block;
		position:absolute;
		width:230px;
		height:1px;
		right:0px;
		top:12px;
		background-color:#878787;
	}
	#content .header {
		display:grid;
		grid-template-columns:0.8fr 1fr 0.5fr;
		grid-gap:2px;
	} 
	#content .header .gray-bg {
		background-color:#545b64;
		color:#fff;
		padding:4px 2px;
		text-align:center;
		font-weight:600;
		letter-spacing:1px;
		font-size:1.2rem;
	}
	#content .info {
		display:grid;
		grid-template-columns:0.8fr 1fr 0.5fr;
	}
	#content .info .info-grid {
	background-color:#fff;
	padding: 5px 3px;
	text-align:center;
	margin-top:5px;
	box-shadow:2px 0px 5px #d3d3d3;
	}
	#content .btn-page {
		text-align:center;
		margin-top:20px;
	}
	#content .btn-page a {
		display:inline-block;
		margin-left:30px;
		background-color:#0b9e5f;
		text-decoration:none;
		color:#fff;
		letter-spacing:1px;
		font-size:1.2rem;
		font-weight:600;
		padding:5px 15px;
	}
	}
@media screen and (max-width:767px) {
	#main{
		margin: 0 auto;
	}
	div.select {
		margin:10px;
		text-align:center;
	}
	div.select select {
		width:100%;
		padding:10px;
		text-align:center;
		font-size:1.1rem;
		color:#404449;
		font-weight:600;
	}
	
	div.btn-delivery {
		margin: 0px 10px;
		text-align:center;
	}
	div.btn-delivery:nth-of-type(1) a {
		margin-top:10px;
	}
	div.btn-delivery  a{
		display:block;
		text-align:center;
		background-color:#0b9e5f;
		text-decoration:none;
		color:#fff;
		padding:15px 0;
		letter-spacing:1px;
		font-weight:600;
	}
	#main p {
		text-align:center;
		margin:30px 0 10px 0;
		color:#545b64;
		font-weight:600;
		font-size:1.1rem;
		position:relative;
	}
	#main p:before{
		content:'';
		display:inline-block;
		position:absolute;
		width:100px;
		height:1px;
		left:0px;
		top:12px;
		background-color:#878787;
	}
	#main p:after{
		content:'';
		display:inline-block;
		position:absolute;
		width:100px;
		height:1px;
		right:0px;
		top:12px;
		background-color:#878787;
	}
	#content .header {
		display:grid;
		grid-template-columns:0.8fr 1fr 0.4fr;
		grid-gap:2px;
	} 
	#content .header .gray-bg {
		background-color:#545b64;
		color:#fff;
		padding:4px 2px;
		text-align:center;
		font-weight:600;
		letter-spacing:1px;
		font-size:1.2rem;
	}
	#content .info {
		display:grid;
		grid-template-columns:0.8fr 1fr 0.4fr;
	}
	#content .info .info-grid {
	background-color:#fff;
	padding: 5px 3px;
	text-align:center;
	margin-top:5px;
	box-shadow:2px 0px 5px #d3d3d3;
	}
	#content .btn-page {
		text-align:center;
		margin-top:20px;
	}
	#content .btn-page a {
		display:inline-block;
		margin-left:30px;
		background-color:#0b9e5f;
		text-decoration:none;
		color:#fff;
		letter-spacing:1px;
		font-size:1.2rem;
		font-weight:600;
		padding:5px 15px;
	}
}